@model ITSUPPORTTICKETSYSTEM.ViewModels.AuthLogin

@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Neon Admin Panel">
    <meta name="author" content="Laborator.co">
    @*<link rel="icon" href="http://demo.neontheme.com/assets/images/favicon.ico">*@
    <title>ITSUPPORT | Login</title>
    <style>
        .file-input-wrapper {
            overflow: hidden;
            position: relative;
            cursor: pointer;
            z-index: 1;
        }

            .file-input-wrapper input[type=file], .file-input-wrapper input[type=file]:focus, .file-input-wrapper input[type=file]:hover {
                position: absolute;
                top: 0;
                left: 0;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
                z-index: 99;
                outline: 0;
            }

        .file-input-name {
            margin-left: 8px;
        }
    </style>
    @*<link rel="stylesheet" href="//demo.neontheme.com/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css" id="style-resource-1">
    <link rel="stylesheet" href="//demo.neontheme.com/assets/css/font-icons/entypo/css/entypo.css" id="style-resource-2">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic" id="style-resource-3">
    <link rel="stylesheet" href="//demo.neontheme.com/assets/css/bootstrap.css" id="style-resource-4">
    <link rel="stylesheet" href="//demo.neontheme.com/assets/css/neon-core.css" id="style-resource-5">
    <link rel="stylesheet" href="//demo.neontheme.com/assets/css/neon-theme.css" id="style-resource-6">
    <link rel="stylesheet" href="//demo.neontheme.com/assets/css/neon-forms.css" id="style-resource-7">*@
  
 
</head>
    <body class="page-body login-page login-form-fall loaded login-form-fall-init" data-url="http://demo.neontheme.com">
        <!-- TS14544916499019: Xenon - Boostrap Admin Template created by Laborator / Please buy this theme and support the updates -->
        <script type="text/javascript">
            var baseurl = 'http://demo.neontheme.com/';
        </script> <div class="login-container">
        <div class="login-header login-caret">
            <div class="login-content">  <img class="logo" src="~/Content/Images/logo.png" width="120" alt=""> 
                <p class="description">Dear user, log in to access the admin area!</p>
                <!-- progress bar indicator -->

                <div class="login-progressbar-indicator">

                    <h3>0%</h3> <span>logging in...</span> 
                </div>
            </div>
        </div>

        <div class="login-progressbar">
            <div>

            </div>
        </div>
@using (Html.BeginForm())
{
         <div class="login-form">
                <div class="login-content">
                    <div class="form-login-error">
                        <h3>Invalid login</h3>
                        <p>Enter <strong>demo</strong>/<strong>demo</strong> as login and password.
                        </p>
                    </div>
     
                 @Html.ValidationSummary()
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"> <i class="glyphicon glyphicon-user"></i>
                </div>
                @Html.LabelFor(x => x.Username, new { @class = "sr-only" })
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = " User Name", @type="text", @autocomplete="off" })
                @*<input type="text" class="form-control" name="username" id="username" placeholder="Username" autocomplete="off">*@
            </div>

        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"> <i class="glyphicon glyphicon-certificate"></i>
                </div>
                @Html.LabelFor(x => x.Password, new { @class = "sr-only" })
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = " Password", @type = "password", @autocomplete = "off" })
                @*<input type="password" class="form-control" name="password" id="password" placeholder="Password" autocomplete="off">*@
            </div>

        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-login" value="Login">
                <i class="glyphicon glyphicon-log-in"></i>
                Login
            </button>
        </div>
        <div class="form-group"> <em>- or -</em>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default btn-lg btn-block btn-icon icon-left facebook-button">
                Login with Facebook
                <i class="fa fa-facebook"></i>
            </button>
        </div>
   


                    <div class="login-bottom-links">
                    
                        <br>
                         <a href="#">ITS</a> - <a href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        }
        </div>
        @*<script src="http://demo.neontheme.com/assets/js/gsap/TweenMax.min.js" id="script-resource-1"></script>
        <script src="http://demo.neontheme.com/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js" id="script-resource-2"></script>
        <script src="http://demo.neontheme.com/assets/js/bootstrap.js" id="script-resource-3"></script>
        <script src="http://demo.neontheme.com/assets/js/joinable.js" id="script-resource-4"></script>
        <script src="http://demo.neontheme.com/assets/js/resizeable.js" id="script-resource-5"></script>
        <script src="http://demo.neontheme.com/assets/js/neon-api.js" id="script-resource-6"></script>
        <script src="http://demo.neontheme.com/assets/js/cookies.min.js" id="script-resource-7"></script>
        <script src="http://demo.neontheme.com/assets/js/jquery.validate.min.js" id="script-resource-8"></script>
        <script src="http://demo.neontheme.com/assets/js/neon-login.js" id="script-resource-9"></script> <!-- JavaScripts initializations and stuff -->
        <script src="http://demo.neontheme.com/assets/js/neon-custom.js" id="script-resource-10"></script> <!-- Demo Settings -->
        <script src="http://demo.neontheme.com/assets/js/neon-demo.js" id="script-resource-11"></script>
        <script src="http://demo.neontheme.com/assets/js/neon-skins.js" id="script-resource-12"></script>*@
        @*<script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-28991003-7']);
            _gaq.push(['_setDomainName', 'demo.neontheme.com']);
            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>*@
    </body>
</html>