@model ITSUPPORTTICKETSYSTEM.Areas.Admin.ViewModels.UsersResetPassword

<div id="content">
    <header class="clearfix">

        <h1 class="page_title ">
            Reset Password for @Model.Username
        </h1>

    </header>

    <div class="content-inner">
        <div class="form-wrapper">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <div class="form-group">

                    @Html.LabelFor(f => f.Password, new {@class = "sr-only"})
                    @Html.TextBoxFor(f => f.Password, new {@class = "form-control", type = "password", @placeholder = "Password"})
                </div>
                 <div class="form-group">
                     <input type="submit" value="Reset Password" class="btn btn-primary btn-sm" />
                    <a href="@Url.Action("index")">or cancel</a>
                </div>
            }
        </div>
    </div>
</div>