@model ITSUPPORTTICKETSYSTEM.Areas.Admin.ViewModels.TicketCommentsIndex

<div id="first-content">
    <div class="content-inner">
        <div class="main-header">
            <h3>DASHBOARD</h3>
            <em>the first priority information</em>
        </div>

        <!-- WIDGET NO HEADER -->
        <div class="widget widget-hide-header">

            <div class="widget-content">
                <div class="row">

                    <div class="col-md-3">
                        @if (Model.TicketsData.Any())
                    {
                        var maxTickets = Model.TicketsData.Max(t => t.TicketCount);
                        var newtickets = Model.TicketsData.Max(t => t.NewTicketCount);

                        var percent = Math.Ceiling((float)newtickets / maxTickets * 100);
                        <div class="easy-pie-chart red" data-percent="@percent %">
                            <span class="percent">@percent%</span>
                            <canvas height="90" width="90"></canvas><canvas width="90" height="90"></canvas>
                        </div>
                        }
                        <p class="text-center">New Tickets</p>
                    </div>
                    <div class="col-md-3">
                        @if (Model.TicketsData.Any())
                            {
                                var maxTickets = Model.TicketsData.Max(t => t.TicketCount);
                                var newtickets = Model.TicketsData.Max(t => t.OpenTicketCount);

                                var percent = Math.Ceiling((float)newtickets / maxTickets * 100);
                                <div class="easy-pie-chart yellow" data-percent="@percent %">
                                    <span class="percent">@percent %</span>
                                    <canvas height="90" width="90"></canvas><canvas width="90" height="90"></canvas>
                                </div>
                            }
                        <p class="text-center">Open Tickets</p>
                    </div>

                    <div class="col-md-3">
                        @if (Model.TicketsData.Any())
                        {
                            var maxTickets = Model.TicketsData.Max(t => t.TicketCount);
                            var pendingtickets = Model.TicketsData.Max(t => t.PendingTicketCount);

                            var percent = Math.Ceiling((float)pendingtickets / maxTickets * 100);
                            <div class="easy-pie-chart red" data-percent="@percent %">
                                <span class="percent">@percent %</span>
                                <canvas height="90" width="90"></canvas><canvas width="90" height="90"></canvas>
                            </div>
                        }
                        <p class="text-center">Pending Tickets</p>
                    </div>

                    <div class="col-md-3">
                        @if (Model.TicketsData.Any())
                        {
                            var maxTickets = Model.TicketsData.Max(t => t.TicketCount);
                            var resolvedtickets = Model.TicketsData.Max(t => t.ResolvedTicketCount);

                            var percent = Math.Ceiling((float)resolvedtickets / maxTickets * 100);
                            <div class="easy-pie-chart green" data-percent="@percent %">
                                <span class="percent">@percent %</span>
                                <canvas height="90" width="90"></canvas><canvas width="90" height="90"></canvas>
                            </div>
                        }
                                                    <p class="text-center">Resolved Tickets</p>

                    </div>
               
                </div>
            </div>
        </div>
    </div>
    <!-- WIDGET NO HEADER -->
</div>
    <div id="content">
        <header class="clearfix">
            <div class="ticket-pagination  pull-right ">
                @if (Model.Tickets.HasPreviousPage)
                {
                    <a href="@Url.Action("Index", new {page = Model.Tickets.PreviousPage})" class="btn btn-primary btn-sm">
                        <i class="glyphicon glyphicon-chevron-left"></i> Previous Page
                    </a>
                }
                else
                {
                    <a href="#" class="btn btn-default btn-disabled btn-sm">
                        <i class="glyphicon glyphicon-chevron-left"></i> Previous Page
                    </a>
                }
                @if (Model.Tickets.HasNextPage)
                {
                    <a href="@Url.Action("Index", new {page = Model.Tickets.NextPage})" class="btn btn-primary btn-sm">
                        Next Page<i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                }
                else
                {
                    <a href="#" class="btn btn-default btn-disabled btn-sm">
                        Next Page <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                }
            </div>

            <h1 class="page_title ">
                <a href="@Url.Action("new")" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i>Create new Ticket</a>
            </h1>

        </header>
        <div class="content-inner">
          
            @*<div class="row search-row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" class="form-control search-field" placeholder="Search" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary go">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>*@

            <div class="row comments-row clearfix">
                <div class="pull-right col-xs-4 col-sm-3 col-md-4 ">
                    <div class="sidebar">
                        @Html.Action("Sidebar", "Layout")
                        @*@foreach (var ticket in Model.Tickets)
                            {
                                <div class="ticketcomments-row ">
                                    <a href="@Url.Action("edit", new {ticket.Id})" class="btn btn-xs btn-primary">
                                        Reply<i class="glyphicon glyphicon-send"></i>
                                    </a>

                                    <a class="btn btn-xs btn-warning" href="@Url.Action("delete", new {ticket.Id})" role="button" data-post="Are you sure you want to delete this ticket FOREVER?">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        Delete
                                    </a>

                                </div>
                            }*@

                    </div>
                </div>

                @foreach (var ticket in Model.Tickets)
                {
                    <div class="col-sm-9 col-md-8">
                        <div class="col-sm-2 col-md-1">
                            @*<img class="img-circle hidden-xs" src="@Url.Content(ticket.User.ProfilePicture)" alt="Image"/>*@
                            <img class="img-circle profile-img hidden-xs" src="@Url.Content(string.Format("~/Content/Images/{0}", Url.Encode(ticket.User.ProfilePicture)))" />
                           
                        </div>


                        <div id="titlepadding" class="row col-xs-9 col-sm-7 ">

                            <b>@ticket.User.Username </b> Sent a ticket on<b> <a href="@Url.RouteUrl("Ticket", new {ticket.Id, ticket.Slug})">@ticket.Title</a> </b><br />
                            <small>Ticket Received :</small><abbr class="timeago" title="@ticket.CreatedAt.ToString("o")"></abbr>


                        </div>

                        <div class="clearfix">
                            <div class="well-sm comments-well ">
                                <b>@Html.Raw(ticket.Content) </b>

                            </div>
                        </div>
                    </div>

                }

            </div>


        </div>
    </div>
    @section Scripts
{
        @Scripts.Render("~/admin/scripts")
        <script src="~/Areas/Admin/Scripts/jquery.timeago.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery(".timeago").timeago();
            });
        </script>
    }
    @*<div class="row comments-row">
            <div class="col-sm-2 col-md-1">
                <img class="img-circle hidden-xs" src="~/Content/Images/AdobePhotoshopExpress_0b6399aa497e48de9eaf12ef9c9007dd.jpg" />
            </div>
            <div class="col-sm-10 col-md-11">
                <div class="row">
                    <div class="col-xs-9 col-sm-10 col-md-9">
                        <b>Clemence Chambela</b> Posted message on<b> How things work...</b><br />
                        <small>Today 2:02 pm - 03/12/2015 </small>
                    </div>
                    <div class="col-xs-3 col-sm-2 col-md-3">
                        <div class="clearfix">
                            <div class="pull-right comment-age">2 days ago</div>
                        </div>
                    </div>
                </div>

                <div class="well well-sm comments-well">
                    This sssjhsh shjdhhd sajsjskjs sjjshjsna jshshhs ajhjshjs shshhshj ahhshsjs
                    shgshhsn shjdhjjhsjnsa shjjshsh sjsjjkjhd ajshhshshls ssjsjhsdhhsjhs. This sssjhsh shjdhhd sajsjskjs
                    sjjshjsna jshshhs ajhjshjs shshhshj ahhshsjs shgshhsn shjdhjjhsjnsa shjjshsh sjsjjkjhd ajshhshshls
                    ssjsjhsdhhsjhs.
                </div>
                <div class="clearfix">
                    <div class="pull-right">
                        <a class="btn btn-xs btn-default" href="#" role="button">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>*@
    @*@foreach (var comment in ticket.Comments)
        {
            <div class="col-xs-3 col-sm-2 col-md-3">
                <div class="clearfix">
                    <div class="pull-right comment-age"><a href="@Url.RouteUrl("Comment", new {comment.Id, comment.Slug})">Replies : <span class="label label-success pull-right">3</span></a>
                    </div>
                </div>
            </div>
        }*@
